/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Override default browser styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    padding-left: 5px;
}

a {
    text-decoration: none;
}

h1, h2, h3,h4 {
    color: #023020;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}

h1 {
    font-size: 2.5rem;
}

p {
    color: #023020;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 8px;
    padding: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #ffffff;
    color: #023020;
}

i {
    padding-left: 10px;
}

/* Navbar styles */

nav {
    background-color: #ffffff;
    color: #023020;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-toggle {
    display: none;
}

.nav-icon {
    display: block;
    cursor: pointer;
    margin-right: 10px;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

#nav-toggle:checked ~ #menu {
    display: block;
    justify-items: end;
    margin-right: 20px;
}

#menu li {
    display: block;
}

#menu li a {
    display: block;
    text-decoration: none;
    color: #023020;
}

/* Image and Text section */

#home-image, #benefits-image, #signup-image {
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    border: 2px solid #023020;
    box-sizing: border-box;
}

/* Where to play */

.container, {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    padding: 20px
}

.box {
    flex: 1 1 auto;
}

#where {
    display: flex;
    flex-wrap: wrap;
}

#where div {
    border: 1px solid #ffffff;
    padding: 20px;
    background-color: #023020;
}

#where h4 {
    color: #ffffff;
    font-size: 1.1rem;
}

#where p {
    color: #ffffff;
    font-size: 1rem;
}

/* Benefits section */

iframe {
    border: 2px solid #023020;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

.iframe-container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
}

/* Form */

#form {
    border: 2px solid #023020;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #023020;
    max-width: 200px;
}

.text-input {
    display: block;
    color: #023020;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 4px;
}

#form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 10px;
}

#form button {
    display: block;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #023020;
    color: #ffffff;
}

/* Footer */

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    padding: 5%;
    color: #023020;
}


@media screen and (max-width: 320px) {

    /* Form */

    #form {
        width: 60%;
    }

    #form h2 {
        font-size: 1.1rem;
    }

    #form p {
        font-size: 0.8rem;
    }

    #form input, button {
        padding: 8px;
    }
    
}   

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* General styles */

    body {
        font-size: 1.75rem;
        padding-left: 10px;
    }

    /* Nav section */

    #nav-toggle {
        display: none;
    }

    .nav-icon {
        display: none;
    }

    #menu {
        display: flex;
        align-items: center;
    }

    #menu li {
        margin-right: 20px;
        font-size: 2rem;
    }

    /* Home section */

    #home-image {
        width: 98%;
        height: 500px;
    }

    /* Benefits section */

    #benefits-image {
        width: 98%;
        height: 500px;
    }
   
    #physical, #mental {
        flex: 1 1 45%;
        padding: 0 5px;
    }

    /* Youtube video section */

    #youtube {
        padding-top: 20px;
        text-align: center;
    }
    
    iframe {
        width: 60%;
        height: 600px;
    }
    
    .iframe-container {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    /* Form section */

    #signup-image {
        width: 98%;
        height: 500px;
    }

    #form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 75%;
        max-width: 500px;
        font-size: 2rem;
        margin: 0 auto;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #form h2 {
        font-size: 2rem;
        text-align: center;
    }

    #form button, #form input {
        font-size: 2rem;
        padding: 10px;
        margin: 10px auto 0;
    }

    #form input {
        margin-bottom: 10px;
        width: 100%;
    }

}