/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Override default browser styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

a {
    text-decoration: none;
}

body {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
}

h1, h2, h3, h4 {
    color: #023020;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10px;
}

p {
    color: #023020;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 8px;
}

#main-image {
    height: 200px;
    justify-content: center;
    width: 100%;
    position: relative;
}

/* Navbar styles */

nav {
    background-color: #ffffff;
    color: #023020;
    justify-content: flex-end;
    width: fit-content;
}

#menu {
    list-style: none;
    display: flex;
}

#menu li {
    margin-right: 20px;
}

/* Image and Text section */

#image-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container {
    flex: 3;
    margin-right: 10px;
}

.text-container {
    flex: 1;
}

/* Where to play */

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.box {
    flex: 0 0 auto;
    margin: 0;
    width: 100%;
}

#where {
    display: flex;
}

#where div {
    border: 1px solid #ffffff;
    padding: 20px;
    background-color: #023020;
}

#where h4 {
    color: #ffffff;
}

#where p {
    color: #ffffff;
}

/* Form */

#form-responsiveness {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #023020;
    border: 10px;
}

h2 {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
}

p {
    color: #ffffff;
    margin-bottom: 20px;
}

label {
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
}

.text-input {
    width: 50%;
    color: #023020;
    margin-bottom: 10px;
}

.alerts {
    display: inline-block;
}

/* Footer */
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    padding: 5%;
    color: #023020;
}
