/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Override default browser styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
}

h1, h2, h3 {
    color: #023020;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 10px;
}

p {
    color: #023020;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 8px;
}

#main-image {
    height: 200px;
    justify-content: center;
    width: 100%;
    position: relative;
}

/* Where to play */

#where div {
    border: 1px solid #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #023020;
}

#where p {
    color: #ffffff;
}

/* Footer */
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    padding: 5%;
    color: #023020;
}